.about__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 2.5rem;
}


.about__info {
    display: flex; /* 정보 섹션에 플렉스 박스 사용 */
    justify-content: center; /* 수평 중앙 정렬 */
    gap: 0.5rem;
    margin-bottom: var(--mb-2);
}

.about__box {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.75rem;
    text-align: center;
    padding: 1rem 1.25rem;
}

.about__icon {
    font-size: 1.5rem;
    color: var(--title-color);
    margin-bottom: var(--mb-0-5);
}

.about__title {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.about__subtitle {
    font-size: var(--tiny-font-size);
}

.about__description {
    padding: 0 4rem 0 0;
    margin-bottom: var(--mb-2-5);
}
/*=============== 브레이크포인트 ===============*/
/* 큰 장치에 대한 스타일 */
@media screen and (max-width: 992px) {
    .about__container {
        flex-direction: column; /* 작은 화면에서 세로 방향 유지 */
        row-gap: 2.5rem; /* 행 간격 유지 */
        align-items: center; /* 항목 중앙 정렬 */
    }

    .about__img {
        width: 220px;
    }

    .about__box {
        padding: 0.75rem 0.5rem;
    }

    .about__data {
        text-align: center;
    }
    .about__description {
        max-width: 600px; /* 너비 제한 */
        width: 90%; /* 원하는 비율로 너비 설정 */
        margin: 0 auto; /* 중앙 정렬 */
        padding: 0 2rem; /* 양쪽 패딩 */
        line-height: 1.5; /* 가독성 향상 */
        margin-bottom: var(--mb-2-5);
        text-align: center; /* 텍스트 중앙 정렬 */
    }
    
}
  
/* 중간 장치에 대한 스타일 */
@media screen and (max-width: 576px) {
    .about__info {
        flex-direction: column; /* 정보 항목 스택 */
        align-items: center; /* 중앙 정렬 */
    }

    .about__description {
        padding: 0;
    }
}
  
/* 작은 장치에 대한 스타일 */
@media screen and (max-width: 350px) {
    .about__info {
        flex-direction: column; /* 정보 항목 스택 */
    }
}